USE [master]
GO
/****** Object:  Database [fit-lojistas]    Script Date: 05/11/2017 14:04:31 ******/
CREATE DATABASE [fit-lojistas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fit-lojistas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\fit-lojistas.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'fit-lojistas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\fit-lojistas_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fit-lojistas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fit-lojistas]
GO
/****** Object:  UserDefinedFunction [dbo].[ValidaUsuario]    Script Date: 05/11/2017 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[ValidaUsuario] (@Usuario VARCHAR(20), @Senha VARCHAR(50))
RETURNS VARCHAR(50)
AS
BEGIN
	RETURN ISNULL((SELECT TOP 1 Nome FROM Usuarios (NOLOCK) WHERE Usuario = @Usuario AND Senha = LEFT(SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('MD5', @Senha)), 3, 32), 32 - LEN(CONVERT(VARCHAR(5), id_Usuario))) + CONVERT(VARCHAR(5), id_Usuario)), '')
END



GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 05/11/2017 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_Categoria] [tinyint] IDENTITY(1,1) NOT NULL,
	[Categoria] [varchar](20) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 05/11/2017 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cidades](
	[id_Cidade] [smallint] IDENTITY(1,1) NOT NULL,
	[Cidade] [varchar](50) NULL,
	[Estado] [char](2) NULL,
 CONSTRAINT [PK_Cidades] PRIMARY KEY CLUSTERED 
(
	[id_Cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lojistas]    Script Date: 05/11/2017 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lojistas](
	[id_Lojista] [int] IDENTITY(1,1) NOT NULL,
	[id_Codificado] [char](32) NULL,
	[CNPJ] [char](18) NULL,
	[Razao] [varchar](50) NULL,
	[Fantasia] [varchar](50) NULL,
	[Email] [varchar](45) NULL,
	[Endereco] [varchar](60) NULL,
	[Numero] [varchar](10) NULL,
	[Complemento] [varchar](30) NULL,
	[Bairro] [varchar](40) NULL,
	[Telefone] [varchar](14) NULL,
	[Celular] [varchar](14) NULL,
	[id_Cidade] [smallint] NULL,
	[id_Categoria] [tinyint] NULL,
	[Data_Cadastro] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[id_Lojista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 05/11/2017 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](20) NOT NULL,
	[Data_Cadastro] [datetime] NULL,
	[Nome] [varchar](50) NULL,
	[Senha] [char](32) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([id_Categoria], [Categoria]) VALUES (1, N'Supermercado')
INSERT [dbo].[Categorias] ([id_Categoria], [Categoria]) VALUES (2, N'Restaurante')
INSERT [dbo].[Categorias] ([id_Categoria], [Categoria]) VALUES (3, N'Borracharia')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
SET IDENTITY_INSERT [dbo].[Cidades] ON 

INSERT [dbo].[Cidades] ([id_Cidade], [Cidade], [Estado]) VALUES (1, N'Alta Floresta D''Oeste', N'RO')
INSERT [dbo].[Cidades] ([id_Cidade], [Cidade], [Estado]) VALUES (2, N'Ariquemes', N'RO')
INSERT [dbo].[Cidades] ([id_Cidade], [Cidade], [Estado]) VALUES (3, N'Cabixi', N'RO')
GO
SET IDENTITY_INSERT [dbo].[Cidades] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_Usuario], [Usuario], [Data_Cadastro], [Nome], [Senha]) VALUES (13, N'jose', CAST(N'2017-09-21 22:13:52.700' AS DateTime), N'José Antônio', N'662eaa47199461d01a62388408093413')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Lojistas_Id_Codificado]    Script Date: 05/11/2017 14:04:31 ******/
CREATE NONCLUSTERED INDEX [IX_Lojistas_Id_Codificado] ON [dbo].[Lojistas]
(
	[id_Codificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lojistas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Categorias] FOREIGN KEY([id_Categoria])
REFERENCES [dbo].[Categorias] ([id_Categoria])
GO
ALTER TABLE [dbo].[Lojistas] CHECK CONSTRAINT [FK_Empresas_Categorias]
GO
ALTER TABLE [dbo].[Lojistas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Cidades] FOREIGN KEY([id_Cidade])
REFERENCES [dbo].[Cidades] ([id_Cidade])
GO
ALTER TABLE [dbo].[Lojistas] CHECK CONSTRAINT [FK_Empresas_Cidades]
GO
/****** Object:  StoredProcedure [dbo].[atualizaSenha]    Script Date: 05/11/2017 14:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[atualizaSenha](@Login AS VARCHAR(100), @Senha AS VARCHAR(100))
AS
BEGIN
	UPDATE Usuarios SET Senha = LEFT(SUBSTRING(master.dbo.fn_varbintohexstr(HashBytes('MD5', @Senha)), 3, 32), 32 - LEN(CONVERT(VARCHAR(5), id_Usuario))) + CONVERT(VARCHAR(5), id_Usuario) WHERE Usuario = @Login
END

GO
USE [master]
GO
